@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #97bbc2 16.62%, #ffffff 85.61%);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

nav{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo{
    font-family: "Sarala", sans-serif;
    color: #97bbc2;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid hsl(229, 34%, 70%);
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.conteudo-principal-imagem{
    width: 400px;
    height: 400px;
    padding: 25px;
    flex-direction: row;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.conteudo-principal-titulo{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 64;
    color: #fff2e7;
}
.conteudo-principal-subtitulo{
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325;
}
.conteudo-principal-escrito-botao{
    background-color: #ecd6;
    width: 185px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325;
}
.conteudo-principal-escrito-botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
}

.receitas{
    display: flex;
    flex-direction: column;

    max-width: 1120px;
    padding: 48px 32px;
    margin: auto;
}

.receitas-cabeçalho{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.receita-titulos{
    font-family: "Sarala", sans-serif ;
    font-size: 32px;
    font-weight: 700;
    color: #fff2e7;
}
.receita-subtitulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 400;
}

.receistas-card-conteine{
    padding: 0 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.receita-card{
    background: #fff2e7;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-basis: 29rem;
    margin-top: 2rem;
}

.receita-card-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.receita-card-cabecalho-detalhe{
    display: flex;
    flex-direction: column;
    gap: 0,5rem;
}
.destaque{
    color: rgb(202, 157, 8);
}
.destaque-receita{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 400;  
}

.detalhe-receita{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.receita-imagem{
    width: 200px;
}

footer{
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.rodape-copy{
    color: fff2e7;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: 500;
    
}
.card-img-top{
    width:px;
}
.card-group{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fomulario{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
    
}
